@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scrollbar-width: thin !important;
  scrollbar-color: #fbb42f #f1f1f1 !important;
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffba3a #f1f1f1;
}
